<div class="col-xs-12 col-sm-6">
  <div class="form-group">
    <label class="control-label">Магазин</label>
    <select ng-model="params.division" class="form-control"
            ng-options="item.merch_name for item in divisionsList">
    </select>
  </div>
  <div class="form-group row">
    <div class="col-xs-12 col-md-8">
      <div class="form-group" ng-class="{'has-error': params.error}">
        <label class="control-label">Фамилия:</label>
        <input type="text" class="form-control" placeholder="Введите ФИО или код дисконтной карты" id="clientName" ng-model="params.client.name">
        <span class="help-block" ng-show="params.error">Для получения кода клиента начните вводить фамилию.</span>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="form-group" ng-class="{'has-error': params.error}">
        <label class="control-label">Код клиента:</label>
        <input type="text" class="form-control" ng-model="params.client.code">
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div ng-show="possibleClients.length > 1">
    <label class="control-label">Выберите адрес: </label>

    <div class="list-group address-list">
      <a class="list-group-item"
         ng-repeat="posClient in possibleClients"
         ng-click="choosePossibleClient(posClient)"
         ng-class="{active: posClient.code === client.code}"
         ng-bind="posClient.address"></a>
    </div>
  </div>
</div>
